@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* <weight>: Use a value from 300 to 700 */

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 /* <weight>: Use a value from 100 to 900 */

.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared Styles */
.pointer{
    cursor: pointer;
}
.text-orange{
    color: #FEA301;
}
.text-sky-blue{
    color: #01ACFD;
}
.text-green-light{
    color: #05D4DF;
}
.text-blue-dark{
    color: #5D58EF;
}
.hover-shadow-orange:hover{
    transition: 0.3s;
    box-shadow: 0 0 2rem orange;
    background-color: white;
    color: black;
    border: 1px solid orange;
}
.hover-shadow-sky-blue:hover{
    transition: 0.3s;
    box-shadow: 0 0 2rem skyblue;
    background-color: white;
    color: black;
    border: 1px solid skyblue;
}
.btn-primary{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    padding: 10px 3rem;
    background-color: black;
    border: none;
    border-radius: 12px;
    width: fit-content;
}
.section-title{
    font-weight: 700;
    font-size: 2rem;
}
.section-description{
    font-weight: 500;
    font-size: 14px;
}
/* header styles */

/* nav bar related styles */
nav {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name-and-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.site-name-and-logo .site-logo{
    max-width: 62px;
    max-height: 62px;
}
.site-name-and-logo .site-name{
    font-size: 2rem;
    font-weight: 700;
}

.nav-links{
    display: flex;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.25rem;
    list-style: none;
}
.contact-btn-div .contact-btn{
    background-color: orange;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 3.8rem;
}
.menu-bar{
    display: none;
}


/* Baner section Styles */
.banner{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.banner-content{
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.banner-content .section-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-content .section-description{
    font-size: 1.25rem;
}
.banner-img{
    width: 100%;
}


/* Main related Styles */


/* Standard curriculum Related styles */
.standard-curriculum{
    background-image: url(./../assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 3.75rem 0;
    align-items: center;
}
.cards{
    max-width: 1160px;
    display: flex;
     gap: 1.75rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3.25rem 2.5rem;
    gap: 2rem;
    box-shadow: inset 0 0 1.75rem rgba(0, 0, 0, 0.05);
    border-radius: 1.15rem;
}
.card-1{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(to top, white , white ,white ,white , #DEF5FF);
}
.card-2{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(to top, white , white ,white ,white , #FFF4DC);
}
.card-3{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(to top, white , white ,white ,white , #F2E8FF);
}
.card-1 a{
    text-decoration: none;
    color: #64C8FF;
    font-weight: 700;
    font-size: 1rem;
}
.card-2 a{
    text-decoration: none;
    color: #F0AA00;
    font-weight: 700;
    font-size: 1rem;
}
.card-3 a{
    text-decoration: none;
    color: #8700FF;
    font-weight: 700;
    font-size: 1rem;
}
.card .card-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.card .card-description{
    font-size: 1rem;
    font-weight: 500;
     color: #808080;
}
.arrow-btn-group{
    display: flex;
    gap: 10px;
}
.arrow-btn-group .left , .arrow-btn-group .right{
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}
.arrow-btn-group .left:hover , .arrow-btn-group .right:hover{
    transition: 0.3s;
    background-color: skyblue;
}

/* Our Stories Section Related Styles */
.story-section{
    display: flex;
    flex-direction: column;
    background-image: url(./../assets/bg.png), linear-gradient(to top, rgba(254, 161, 1, 0.308) , white);
    background-size: contain;
    background-repeat: repeat-y;
     gap: 5rem;
     padding: 3.75rem 0;
     align-items: center;
}

.stories-cards{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    gap: 1.25rem;
}
.big-story-card{
    width: 50%;
}
.big-story-card .story-card-img-container img , .some-story-cards .story-card-img-container img{
    width: 100%;
    border-radius: 1rem 1rem 0 0 ;
}

.big-story-card , .story-card{
    border-radius: 1rem;
    background-color: #FFFFFF;
}

.big-story-card .story-content {
    padding: 0 2.3rem;
    position: relative;
}
.big-story-card .story-date{
    background-color: #3CD8E8;
    color: white;
    padding: 0.93rem 1.18rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Raleway", serif;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: calc( -1.6rem - 3.625rem);
}
.big-story-card .story-date:hover , .some-story-cards .story-card .story-date:hover{
    color: black;
    background-color: white;
    box-shadow: 2px 15px 1rem #3CD8E8;
    transform: translateY(-10px);
}
.big-story-card .big-story-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3.5rem 0;
}
.big-story-card .big-story-description{
    font-size: 1rem;
     font-weight: 500;
     color: #666666;
     line-height: 1.75rem;
}

.some-story-cards{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 1.25rem;
}
.some-story-cards .story-card .story-content{
    margin: 2.37rem 2.37rem 2.37rem 2.37rem;
    position: relative;
}
.some-story-cards .story-card .story-date{
    font-size: 1rem;
    font-weight: 500;
    font-family: "Raleway" serif;
    color: white;
    border: none;
    padding: 0.625rem 1.875rem;
    border-radius: 3rem;
    position: absolute;
    top: calc( -1.6rem - 2.25rem);
    cursor: pointer;
    transition: 200ms;

}
.some-story-cards .story-card .story-content p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.some-story-cards .story-card-1 .story-date ,
.some-story-cards .story-card-3 .story-date,
.some-story-cards .story-card-4 .story-date{
    background-color: #95B226;
}
.some-story-cards .story-card-2 .story-date{
    background-color: #5D58F0;
}
.some-story-cards .story-card .story-date:hover{
    box-shadow: 2px 15px 1rem #95B226;

}
.some-story-cards .story-card-2 .story-date:hover{
    box-shadow: 2px 15px 1rem #5D58F0;

}


/* Footer related Styles  */
footer {
    background-color: #01ACFD;
}
.footer-content{
    max-width: 1070px;
    padding: 9.25rem;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    opacity: 60%;
    color: white;
}
.footer-content .logo-sitename-about{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.09rem;
}
.about-site {
    position: relative;
    left: 7px;
     font-size: 1.25rem;
     font-weight: 400;
     padding-right: 10px;
}
.footer-content .logo-sitename-about .site-name-and-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-content .logo-sitename-about .site-name-and-logo .site-logo{
    width: 82px;
}
.footer-content .logo-sitename-about .site-name-and-logo .site-name{
    max-width: 200px;
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-nav-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-nav .nav-links {
    flex-direction: column;
    gap: 1.25rem;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}
.social-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.social-section .title {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.625rem;
}
.social-section .social-icons{
    display: flex;
    gap: 0.625rem;
}
.social-section .social-icons img {
    cursor: pointer;
}

/* Responsive for mobail devices
********************************
********************************
********************************
********************************
********************************
*/

@media screen and (max-width:600px) {
    nav {
        padding: 12px 1rem;
        border: 0.5px solid orange;
    }
    .nav-links{
        display: none;
    }
    .site-name-and-logo .site-name , .contact-btn-div{
        display: none;
    }
    .site-name-and-logo .site-logo{
        width: 2.8rem;
        height: 2.8rem;
    }
    .menu-bar{
        display: block;
    }
    /* Banner styles */
    .banner{
        flex-direction: column-reverse;
        margin: 8px 1rem;
    }
    .banner-content{
        align-items: center;
        text-align: center;
    }
    .banner-content .section-title{
        font-weight: 700;
        font-size: 2rem;
    }
    .banner-content .section-description{
        font-weight: 500;
        font-size: 14px;
    }
    .banner-content .btn-primary{
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 6px 1.5rem;
    }
    .banner-img{
        margin: 1.25rem 10px;
    }

    /* Standard curriculum */
    .standard-curriculum{
        gap: 10px;
        margin: 2.5rem 0;
    }
    .standard-curriculum .section-title {
        font-size: 1.75rem;
    }
    .cards{
        flex-direction: column;
        width: 90%;
    }
    .card{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2.25rem 1.75rem;
        gap: 1.37rem;
        box-shadow: inset 0 0 1.8rem rgba(0, 0, 0, 0.05);
        border-radius: 12px;
    }
    .card .card-title{
        font-size: 1rem;
    }
    .card .card-description{
        font-size:  10px;
        max-width: 200px;
    }
    .card a {
        font-size: 10px;
    }
    .arrow-btn-group{
        display: none;
    }


    /* Our Stories Sectioon Styles */
    .big-story-card {
        display: none;
    }
    .some-story-cards .story-card .story-content{
        margin: 1.37rem;
        position: relative;
    }
    .some-story-cards .story-card .story-date{
        font-size: 10px;
        color: white;
        padding: 0.375rem 0.687rem;
        border-radius: 1.75rem;
        top: calc( -1.3rem - 1rem);
        cursor: pointer;
    
    }
    .some-story-cards .story-card .story-content p {
        font-size: 0.625rem;
        line-height: 1.06rem;
    }

    /* Footer Related Styles */
    .footer-content{
        padding: 1.25rem;
        flex-direction: column;
        gap: 2rem;
    }
    .footer-nav .nav-links{
        display: flex;
        flex-direction: column;
    }
}

/* Responsive for tablet devices
********************************
********************************
********************************
********************************
*/

@media screen and (max-width:992px) {
    .contact-btn-div{
        display: none;
    }

    /* Banner related style */
    .banner-content{
        width: 80%;
    }
    .banner-content .section-title{
        font-weight: 700;
        font-size: 2rem;
    }
    .banner-content .section-description{
        font-weight: 500;
        font-size: 14px;
    }
    .banner-content .btn-primary{
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 6px 1.5rem;
    }
    .banner-img{
        margin: 1.25rem 10px;
    }

    /* Standard curriculum */
    .standard-curriculum{
        gap: 1rem;
        margin: 2.5rem 0;
    }
    .standard-curriculum .section-title {
        font-size: 2.25rem;
    }
    .cards{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2.25rem 1.75rem;
        gap: 1.37rem;
        box-shadow: inset 0 0 1.8rem rgba(0, 0, 0, 0.05);
        border-radius: 12px;
    }
    .card .card-title{
        font-size: 1rem;
    }
    .card .card-description{
        font-size:  10px;
        max-width: 200px;
    }
    .card a {
        font-size: 10px;
    }
    .arrow-btn-group{
        display: none;
    }


      /* Our Stories Sectioon Styles */
      .big-story-card {
        display: none;
    }
    .some-story-cards{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        gap: 1.25rem;
    }

    .some-story-cards .story-card .story-content{
        margin: 1.37rem;
        position: relative;
    }
    .some-story-cards .story-card .story-date{
        font-size: 10px;
        color: white;
        padding: 0.375rem 0.687rem;
        border-radius: 1.75rem;
        top: calc( -1.3rem - 1rem);
        cursor: pointer;
    
    }
    .some-story-cards .story-card .story-content p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    /* Footer Related Styles */
    .footer-content{
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 3rem;

    }
    .logo-sitename-about .site-name-and-logo{
        justify-content: center;
    }
    .footer-nav .nav-links{
        display: flex;
        flex-direction: column;
    }

    .footer-content .logo-sitename-about{
        max-width: 700px;
        display: flex;
        flex-direction: column;
        gap: 1.09rem;
    }
}