@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* <weight>: Use a value from 300 to 700 */

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 /* <weight>: Use a value from 100 to 900 */

.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared Styles */
.pointer{
    cursor: pointer;
}
.text-orange{
    color: #FEA301;
}
.text-sky-blue{
    color: #01ACFD;
}
.text-green-light{
    color: #05D4DF;
}
.text-blue-dark{
    color: #5D58EF;
}
.hover-shadow-orange:hover{
    transition: 0.3s;
    box-shadow: 0 0 2rem orange;
}
.hover-shadow-sky-blue:hover{
    transition: 0.3s;
    box-shadow: 0 0 2rem skyblue;
}
.btn-primary{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    padding: 10px 3rem;
    background-color: black;
    border: none;
    border-radius: 12px;
    width: fit-content;
}
.section-title{
    font-weight: 700;
    font-size: 2rem;
}
.section-description{
    font-weight: 500;
    font-size: 14px;
}
/* header styles */

/* nav bar related styles */
nav {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name-and-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.site-name-and-logo .site-logo{
    max-width: 62px;
    max-height: 62px;
}
.site-name-and-logo .site-name{
    font-size: 2rem;
    font-weight: 700;
}

.nav-links{
    display: flex;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.25rem;
    list-style: none;
}
.contact-btn-div .contact-btn{
    background-color: orange;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 3.8rem;
}
.menu-bar{
    display: none;
}


/* Baner section Styles */
.banner{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.banner-content{
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.banner-content .section-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-content .section-description{
    font-size: 1.25rem;
}
.banner-img{
    width: 100%;
}


/* Main related Styles */


/* Standard curriculum Related styles */
.standard-curriculum{
    background-image: url(./../assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 3.75rem 0;
    align-items: center;
}
.cards{
    max-width: 1160px;
    display: flex;
     gap: 1.75rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3.25rem 2.5rem;
    gap: 2rem;
    box-shadow: inset 0 0 1.75rem rgba(0, 0, 0, 0.05);
    border-radius: 1.15rem;
}
.card-1{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(to top, white , white ,white ,white , #DEF5FF);
}
.card-2{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(to top, white , white ,white ,white , #FFF4DC);
}
.card-3{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(to top, white , white ,white ,white , #F2E8FF);
}
.card-1 a{
    text-decoration: none;
    color: #64C8FF;
    font-weight: 700;
    font-size: 1rem;
}
.card-2 a{
    text-decoration: none;
    color: #F0AA00;
    font-weight: 700;
    font-size: 1rem;
}
.card-3 a{
    text-decoration: none;
    color: #8700FF;
    font-weight: 700;
    font-size: 1rem;
}
.card .card-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.card .card-description{
    font-size: 1rem;
    font-weight: 500;
     color: #808080;
}
.arrow-btn-group{
    display: flex;
    gap: 10px;
}
.arrow-btn-group .left , .arrow-btn-group .right{
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}
.arrow-btn-group .left:hover , .arrow-btn-group .right:hover{
    transition: 0.3s;
    background-color: skyblue;
}

/* Our Stories Section Related Styles */
.story-section{
    display: flex;
    flex-direction: column;
     gap: 5rem;
     padding: 3.75rem 0;
     align-items: center;
}

.stories-cards{
    max-width: 1160px;
    margin: 0 auto;
    background-color: #01ACFD;
    height: 640px;
}

/* Responsive for mobail devices
********************************
********************************
********************************
********************************
********************************
*/

@media screen and (max-width:600px) {
    nav {
        padding: 12px 1rem;
        border: 0.5px solid orange;
    }
    .nav-links{
        display: none;
    }
    .site-name-and-logo .site-name , .contact-btn-div{
        display: none;
    }
    .site-name-and-logo .site-logo{
        width: 2.8rem;
        height: 2.8rem;
    }
    .menu-bar{
        display: block;
    }
    /* Banner styles */
    .banner{
        flex-direction: column-reverse;
        margin: 8px 1rem;
    }
    .banner-content{
        align-items: center;
        text-align: center;
    }
    .banner-content .section-title{
        font-weight: 700;
        font-size: 2rem;
    }
    .banner-content .section-description{
        font-weight: 500;
        font-size: 14px;
    }
    .banner-content .btn-primary{
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 6px 1.5rem;
    }
    .banner-img{
        margin: 1.25rem 10px;
    }

    /* Standard curriculum */
    .standard-curriculum{
        gap: 10px;
        margin: 2.5rem 0;
    }
    .standard-curriculum .section-title {
        font-size: 1.75rem;
    }
    .cards{
        flex-direction: column;
        width: 90%;
    }
    .card{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2.25rem 1.75rem;
        gap: 1.37rem;
        box-shadow: inset 0 0 1.8rem rgba(0, 0, 0, 0.05);
        border-radius: 12px;
    }
    .card .card-title{
        font-size: 1rem;
    }
    .card .card-description{
        font-size:  10px;
        max-width: 200px;
    }
    .card a {
        font-size: 10px;
    }
    .arrow-btn-group{
        display: none;
    }

}

/* Responsive for tablet devices
********************************
********************************
********************************
********************************
*/

@media screen and (max-width:992px) {
    .contact-btn-div{
        display: none;
    }

    /* Banner related style */
    .banner-content{
        width: 80%;
    }
    .banner-content .section-title{
        font-weight: 700;
        font-size: 2rem;
    }
    .banner-content .section-description{
        font-weight: 500;
        font-size: 14px;
    }
    .banner-content .btn-primary{
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 6px 1.5rem;
    }
    .banner-img{
        margin: 1.25rem 10px;
    }

    /* Standard curriculum */
    .standard-curriculum{
        gap: 1rem;
        margin: 2.5rem 0;
    }
    .standard-curriculum .section-title {
        font-size: 2.25rem;
    }
    .cards{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2.25rem 1.75rem;
        gap: 1.37rem;
        box-shadow: inset 0 0 1.8rem rgba(0, 0, 0, 0.05);
        border-radius: 12px;
    }
    .card .card-title{
        font-size: 1rem;
    }
    .card .card-description{
        font-size:  10px;
        max-width: 200px;
    }
    .card a {
        font-size: 10px;
    }
    .arrow-btn-group{
        display: none;
    }
}