@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* <weight>: Use a value from 300 to 700 */

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 /* <weight>: Use a value from 100 to 900 */

.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared Styles */
.pointer{
    cursor: pointer;
}
.text-orange{
    color: #FEA301;
}
.text-sky-blue{
    color: #01ACFD;
}
.text-green-light{
    color: #05D4DF;
}
.text-blue-dark{
    color: #5D58EF;
}
.hover-shadow-orange:hover{
    transition: 0.3s;
    box-shadow: 0 0 2rem orange;
}
.hover-shadow-sky-blue:hover{
    transition: 0.3s;
    box-shadow: 0 0 2rem skyblue;
}
.btn-primary{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    padding: 10px 3rem;
    background-color: black;
    border: none;
    border-radius: 12px;
    width: fit-content;
}
.section-title{
    font-weight: 700;
    font-size: 2rem;
}
.section-description{
    font-weight: 500;
    font-size: 14px;
}
/* header styles */

/* nav bar related styles */
nav {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name-and-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.site-name-and-logo .site-logo{
    max-width: 62px;
    max-height: 62px;
}
.site-name-and-logo .site-name{
    font-size: 2rem;
    font-weight: 700;
}

.nav-links{
    display: flex;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.25rem;
    list-style: none;
}
.contact-btn-div .contact-btn{
    background-color: orange;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 3.8rem;
}
.menu-bar{
    display: none;
}


/* Baner section Styles */
.banner{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.banner-content{
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.banner-content .section-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-content .section-description{
    font-size: 1.25rem;
}
.banner-img{
    width: 100%;
}


/* Responsive for mobail devices
********************************
********************************
********************************
********************************
********************************
*/

@media screen and (max-width:600px) {
    .nav-links{
        display: none;
    }
    .site-name-and-logo .site-name{
        display: none;
    }
    .contact-btn-div{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    /* Banner styles */
    .banner{
        flex-direction: column-reverse;
        margin: 8px 1rem;
    }
    .banner-content{
        align-items: center;
        text-align: center;
    }
    .banner-content .section-title{
        font-weight: 700;
        font-size: 2rem;
    }
    .banner-content .section-description{
        font-weight: 500;
        font-size: 14px;
    }
    .banner-content .btn-primary{
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 6px 1.5rem;
    }
    .banner-img{
        margin: 1.25rem 10px;
    }

}

/* Responsive for tablet devices
********************************
********************************
********************************
********************************
*/

@media screen and (max-width:992px) {
    .contact-btn-div{
        display: none;
    }

    /* Banner related style */
    .banner-content{
        width: 80%;
    }
    .banner-content .section-title{
        font-weight: 700;
        font-size: 2rem;
    }
    .banner-content .section-description{
        font-weight: 500;
        font-size: 14px;
    }
    .banner-content .btn-primary{
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 6px 1.5rem;
    }
    .banner-img{
        margin: 1.25rem 10px;
    }
}